# Data Mining Lab 2 - Kaggle competition

---
## 1. Data Preparation

### 1.1 Load data

In [ ]:
import pandas as pd

### load json file to df
AllData = pd.read_json("Data_raw/tweets_DM.json",lines=True)
AllData['_source'][0]

df=pd.DataFrame()
df['tweet_id'] = AllData['_source'].apply(lambda x: x['tweet']['tweet_id'])
df['text'] = AllData['_source'].apply(lambda x: x['tweet']['text'])
df.head()

   tweet_id                                               text
0  0x376b20  People who post "add me on #Snapchat" must be ...
1  0x2d5350  @brianklaas As we see, Trump is dangerous to #...
2  0x28b412  Confident of your obedience, I write to you, k...
3  0x1cd5b0                Now ISSA is stalking Tasha 😂😂😂 <LH>
4  0x2de201  "Trust is not the same as faith. A friend is s...

In [ ]:
label_df = pd.read_csv('Data_raw/emotion.csv')
dataid_df = pd.read_csv('Data_raw/data_identification.csv')

In [3]:
df = df.merge(label_df, on='tweet_id', how='left')
df = df.merge(dataid_df, on='tweet_id', how='left')
df.head()

,tweet_id,text,emotion,identification
0,0x376b20,"People who post ""add me on #Snapchat"" must be ...",anticipation,train
1,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",sadness,train
2,0x28b412,"Confident of your obedience, I write to you, k...",NaN,test
3,0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>,fear,train
4,0x2de201,"""Trust is not the same as faith. A friend is s...",NaN,test

In [4]:
# split train and test data
train_df=df[df['identification']=='train']
test_df=df[df['identification']=='test']

In [5]:
train_df = train_df.drop(columns=['identification'])
test_df = test_df.drop(columns=['identification','emotion'])
test_df.head()

    tweet_id                                               text
2   0x28b412  Confident of your obedience, I write to you, k...
4   0x2de201  "Trust is not the same as faith. A friend is s...
9   0x218443  When do you have enough ? When are you satisfi...
30  0x2939d5  God woke you up, now chase the day #GodsPlan #...
33  0x26289a  In these tough times, who do YOU turn to as yo...

In [6]:
# shuffle dataset
# sample()，這個參數表示取樣的比例。當 frac=1 時，意味著會隨機取出資料框中所有的列，也就是完全打亂整個資料框的順序。
train_df = train_df.sample(frac=1)
test_df = test_df.sample(frac=1)
train_df.head()

,tweet_id,text,emotion
488243,0x304360,"@funnydanny On a positive note, Doctson never ...",trust
969523,0x2a64cc,It is not liberals opposing the imposition of ...,disgust
1720478,0x23ce82,@Vermonsters Nice salamander tat. <LH>,fear
1201411,0x37554e,Psalm 1: 3 doesn’t happen by accident. It is a...,anticipation
198553,0x1ffcab,#Proverbs #Idioms #Quots #Vocabulary #InFo #GK...,trust

In [7]:
print("Shape of Training df: ", train_df.shape)
print("Shape of Testing df: ", test_df.shape)

Shape of Training df:  (1455563, 3)
Shape of Testing df:  (411972, 2)

### 1.2 Exploratory data analysis (EDA)

In [8]:
# group to find distribution
train_df.groupby(['emotion']).count()['text']

emotion
anger            39867
anticipation    248935
disgust         139101
fear             63999
joy             516017
sadness         193437
surprise         48729
trust           205478
Name: text, dtype: int64

In [ ]:
train_df.to_csv('./Data_csv/train.csv',index=False)
test_df.to_csv('./Data_csv/test.csv',index=False)